@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
header, section {
    margin-bottom: 40px;
}
#logo {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    letter-spacing: 3px;
    font-weight: 800;
}
.menu {
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu a {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
}
#hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
}

.strip {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: all 0.5s;
}

.change .strip-one {
    transform: rotate(-405deg) translate(-6px, 6px);
    }

    .change .strip-two {
    opacity: 0;
}

.change .strip-three {
    transform: rotate(405deg) translate(-6px, -6px);
}
   
@media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
   
    .menu {
      position: absolute;
      z-index: 1;
      right: 0;
      height: 61vh;
      top: 16vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }

    .menu a {
        font-size: 16px;
    }

    #logo {
        font-size: 24px;
    }
    
    #hamburger {
      display: flex;
    }
}
  
.menu-active {
    transform: translateX(0%);

}
h3, h4{
    padding: 0;
    margin: 0;
}
a:link {
    color: #000000;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    display: inline-block;
}
a::before {
    content: "";
    display: none;
    height: 6px;
    width: 100%;
    background-color: #000;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    left: 0;
  }
a:hover::before {
    display: block;
  }
#banner {
    position: relative;
    text-align: center;
    max-height: 550px;
    color: #ffffff;
}
#page-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
    font-family: "Open Sans", sans-serif;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100px;
    letter-spacing: 7.9px;
}
.date {
    display: flex;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
}
.date-right {
    justify-content: flex-end;
    margin-top: 30px;
}
.date-left {
    justify-content: flex-start;
    margin-top: 30px;
}
.block {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.line {
    content: "";
    display: block;
    width: 265px;
    height: 5px;
    position: relative;
    z-index: 1;
}
.line-one {
    background: linear-gradient(90deg, #000000 64%, #fff 36%);
    top: 180px;
    left: 430px;
}
.line-two {
    background: linear-gradient(90deg, #000000 48%, #fff 45%);
    top: 220px;
    left: 474px;
}
.line-three {
    background: linear-gradient(90deg, #000000 70%, #fff 30%);
    top: 263px;
    left: 415px;
}
.block-left, .block-right, .block-right-col, .block-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    flex: 1;
}
.block-right, .date-in-block, .block-right-col {
    margin-left: 60px;
}
.text-header {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    line-height: 70px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
}
.text-header-only {
    font-size: 80px;
    line-height: 88px;
    justify-content: flex-end; 
    letter-spacing: 8px;
}
.header-one, .header-two {
    display: flex;
    justify-content: flex-end;
}
.header-two, .text-header-top {
    font-size: 60px;
}
.header-two {
    margin-bottom: 50px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 90%;
    color: #656565;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
}
.text-header-top, .text-top {
    max-width: 65%;
}
.info {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}
.info-margin {
    margin-bottom: 39px;
}
.date-in-block {
    justify-content: flex-end;
}
#subscription {
    position: relative;
    text-align: center;
    max-height: 290px;
    color: #ffffff;
    margin-top: 50px;
}
#page-sub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
}
.btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
}
button {
    border-radius: 20px;
    padding: 10px 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    background: #ffffff;
    border: none;
    font-weight: 700;
    min-width: 160px;
}
.list {
    display: flex;
    justify-content: center;
    list-style: none;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}
.list-item {
    margin-right: 20px;
}
.list-comment {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
.list-text {
    max-width: 80%;
}
.pics {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}
.pic1, .pic2, .pic3 {
    position: relative;
    text-align: center;
}
.text-centered {
    font-family: "Open Sans", sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 70px;
    text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
    text-transform: uppercase;
    letter-spacing: 8px;
}
.text-centered-one, .text-centered-two, .text-centered-three {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image {
    max-width: 100%;
    height: auto;
}
.image-left-one, .image-left-two {
    position: relative;
    z-index: 1;
}
.image-left-one::before {
    content: "";
    display: block;
    width: 1000px;
	height: 162px;
    background-color: #f6f6f6;
    position: absolute;
    top: 77px;
    left: 70px;
}
.image-left-one::after {
    content: "";
    display: block;
    width: 230px;
    height: 542px;
    background-color: #f6f6f6;
    position: absolute;
    top: 365px;
    left: 145px;
    transform: rotate(-30deg);
}
.image-left-two::after {
    content: "";
    display: block;
    width: 1000px;
	height: 436px;
    background-color: #f6f6f6;
    position: absolute;
    top: 77px;
    left: 70px; 
}
@media only screen and (max-width: 1140px) and (min-width: 571px) {
    header, section, .block, .list-media, .pics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 20%;
    }
    .block-right-col, .block-right {
        margin-left: 0;
    }
    .line, .image-left-one::before, .image-left-two::after {
        display: none;
    }
    .text-header, .text-top {
        max-width: 100%;;
    }
    .text-header-only {
        margin-bottom: 50px;
    }
    #page-name, .text-header-only {
        font-size: 60px;
        line-height: 70px;
    }
    .text-header-top {
        font-size: 40px;
    }
    .date-in-block {
        display: flex;
        justify-content: center;
    }
    .date-right {
        display: none;
    }
    .block-image {
        position: relative;
        margin-top: 40px;
    }
    .block-image::before {
        content: "07/08";
        display: block;
        position: absolute;
        left: 50%;
        top: -6%;
        transform: translate(-50%, -50%);
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
    }
    .block {
        max-width: 540px;
    }
    .text, .text-header, .info {
        padding-left: 30px;
    }
}    
@media only screen and (max-width: 570px) {
    header, section, .block, .list-media, .pics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 20%;
    }
    .image-left-one {
        width: 100%;
    }
    .block-right-col, .block-right {
        margin-left: 0;
    }
    .line, .image-left-one::before, .image-left-two::after {
        display: none;
    }
    .text-header, .text-top {
        max-width: 100%;;
    }
    .text-header-only {
        margin-bottom: 50px;
    }
    #page-name, .text-header-only {
        font-size: 60px;
        line-height: 50px;
    }
    .text-header-top, #page-name, #page-sub {
        font-size: 45px;
    }
    .date-in-block {
        display: flex;
        justify-content: center;
    }
    .date-right {
        display: none;
    }
    .block-image {
        position: relative;
        margin-top: 40px;
    }
    .block-image::before {
        content: "07/08";
        display: block;
        position: absolute;
        left: 50%;
        top: -6%;
        transform: translate(-50%, -50%);
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
    }
    .block {
        max-width: 540px;
    }
    .text {
        padding-left: 30px;
    }
    .text-header, .info, .header-two {
        padding-left: 30px;
        font-size: 30px;
        margin-right: 10px;
    }
    .header-two {
        margin-bottom: 0;
    }
    .list, .info {
        font-size: 15px;
    }
}